/*
 * Copyright (c) 2020 Petri Oksanen
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 /dts-v1/;
 #include "iote_ai_l552ze-common.dtsi"
 
 / {
     model = "IOTE.AI L552ZE board";
     compatible = "iote_ai,iote-ai-l552ze";
 
     #address-cells = <1>;
     #size-cells = <1>;
 
     chosen {
         zephyr,console = &usart3;
         zephyr,shell-uart = &usart3;
         zephyr,sram = &sram0;
         zephyr,flash = &flash0;
     };
 
     aliases {
        led0 = &green_led_1;
        led1 = &blue_led_1;
        led2 = &red_led_1;
        sw0 = &user_button;
     };
 };
 
 &usart3 {
     current-speed = <115200>;
     status = "okay";
 };
 