# IOTE.AI L552ZE board configuration

# Copyright (c) 2021 Petri Oksanen
# SPDX-License-Identifier: Apache-2.0

if BOARD_IOTE_AI_L552ZE

config BOARD
	default "iote_ai_l552ze"


endif # BOARD_IOTE_AI_L552ZE
